networks:
  proxy:
    external: true
  paperless:
    driver: bridge
    name: paperless

services:
  paperless-redis:
    image: docker.io/library/redis:8.2.3@sha256:5c7c0445ed86918cb9efb96d95a6bfc03ed2059fe2c5f02b4d74f477ffe47915
    restart: unless-stopped
    environment:
      PUID: 1000
      PGID: 1000
    volumes:
      - ./data/redis:/data
    networks:
      - paperless

  paperless-postgres:
    image: docker.io/library/postgres:18.0@sha256:41fc5342eefba6cc2ccda736aaf034bbbb7c3df0fdb81516eba1ba33f360162c
    restart: unless-stopped
    volumes:
      - ./data/db:/var/lib/postgresql
    env_file: ./data/paperless.env
    environment:
      PUID: 1000
      PGID: 1000
      POSTGRES_DB: paperless
      POSTGRES_USER: paperless
    networks:
      - paperless

  paperless:
    image: ghcr.io/paperless-ngx/paperless-ngx:2.19.5@sha256:5f2a72fd7be42c6b1d8fa1751606a140452d4c3e6e829ae6b1b15e3c95129481
    restart: unless-stopped
    depends_on:
      - paperless-postgres
      - paperless-redis
      - paperless-gotenberg
      - paperless-tika
    # ports:
    #   - "8000:8000"
    healthcheck:
      test: ["CMD", "curl", "-fs", "-S", "--max-time", "2", "http://localhost:8000"]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - ./data/data:/usr/src/paperless/data
      - ./data/media:/usr/src/paperless/media
      - ./data/export:/usr/src/paperless/export
      - ./data/consume:/usr/src/paperless/consume
      - ./data/scripts:/scripts
    env_file: ./data/paperless.env
    environment:
      PUID: 1000
      PGID: 1000
      PAPERLESS_REDIS: redis://paperless-redis:6379
      PAPERLESS_DBHOST: paperless-postgres
      PAPERLESS_TIKA_ENABLED: 1
      PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://paperless-gotenberg:3000
      PAPERLESS_TIKA_ENDPOINT: http://paperless-tika:9998
      PAPERLESS_APPS: allauth.socialaccount.providers.openid_connect
      PAPERLESS_SOCIALACCOUNT_PROVIDERS: ${PAPERLESS_SOCIALACCOUNT_PROVIDERS}
      PAPERLESS_POST_CONSUME_SCRIPT: /scripts/post
      PAPERLESS_FILENAME_FORMAT: '{correspondent}/{created_year}/{created_month}/{created_day}/{title}'
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.paperless.middlewares=crowdsec-traefik-bouncer,auth"
      - "traefik.http.routers.paperless.rule=Host(`docs.${SERVICES_BASE_DOMAIN}`)"
      - "traefik.http.routers.paperless.tls=true"
      - "traefik.http.services.paperless.loadbalancer.server.port=8000"
    networks:
      - proxy
      - paperless

  paperless-gotenberg:
    image: docker.io/gotenberg/gotenberg:8.24.0@sha256:b116a40a1c24917e2bf3e153692da5acd2e78e7cd67e1b2d243b47c178f31c90
    restart: unless-stopped

    environment:
      PUID: 1000
      PGID: 1000
    # The gotenberg chromium route is used to convert .eml files. We do not
    # want to allow external content like tracking pixels or even javascript.
    command:
      - "gotenberg"
      - "--chromium-disable-javascript=true"
      - "--chromium-allow-list=file:///tmp/.*"
    networks:
      - paperless

  paperless-tika:
    image: apache/tika:3.2.3.0@sha256:c0154cb95587cde64be74f35ada1a2bd7892219f3f0ac3c9dc6cab34046b3573
    restart: unless-stopped
    environment:
      PUID: 1000
      PGID: 1000
    networks:
      - paperless
