networks:
  proxy:
    external: true
  paperless:
    driver: bridge
    name: paperless

services:
  paperless-redis:
    image: docker.io/library/redis:8.4.0@sha256:43355efd22490e31ca14b9d569367d05121e2be61fd8e47937563ae2a80952ae
    restart: unless-stopped
    environment:
      PUID: 1000
      PGID: 1000
    volumes:
      - ./data/redis:/data
    networks:
      - paperless

  paperless-postgres:
    image: docker.io/library/postgres:18.0@sha256:41fc5342eefba6cc2ccda736aaf034bbbb7c3df0fdb81516eba1ba33f360162c
    restart: unless-stopped
    volumes:
      - ./data/db:/var/lib/postgresql
    env_file: .env
    environment:
      PUID: 1000
      PGID: 1000
      POSTGRES_DB: paperless
      POSTGRES_USER: paperless
    networks:
      - paperless

  paperless:
    image: ghcr.io/paperless-ngx/paperless-ngx:2.19.6@sha256:719a4e4c4314b417646b00e58bfbfbe55e4cb59017a2dec1533e96d8deb66ec1
    restart: unless-stopped
    depends_on:
      - paperless-postgres
      - paperless-redis
      - paperless-gotenberg
      - paperless-tika
    # ports:
    #   - "8000:8000"
    healthcheck:
      test: ["CMD", "curl", "-fs", "-S", "--max-time", "2", "http://localhost:8000"]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - ./data/app:/usr/src/paperless/data
      - ./data/media:/usr/src/paperless/media
      - ./data/export:/usr/src/paperless/export
      - ./data/consume:/usr/src/paperless/consume
      - ./data/scripts:/scripts
    env_file: .env
    environment:
      PUID: 1000
      PGID: 1000
      PAPERLESS_REDIS: redis://paperless-redis:6379
      PAPERLESS_DBHOST: paperless-postgres
      PAPERLESS_TIKA_ENABLED: 1
      PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://paperless-gotenberg:3000
      PAPERLESS_TIKA_ENDPOINT: http://paperless-tika:9998
      PAPERLESS_APPS: allauth.socialaccount.providers.openid_connect
      PAPERLESS_SOCIALACCOUNT_PROVIDERS: ${PAPERLESS_SOCIALACCOUNT_PROVIDERS}
      PAPERLESS_POST_CONSUME_SCRIPT: /scripts/post
      PAPERLESS_FILENAME_FORMAT: '{correspondent}/{created_year}/{created_month}/{created_day}/{title}'
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.paperless.middlewares=crowdsec-traefik-bouncer,auth"
      - "traefik.http.routers.paperless.rule=Host(`${SERVICE_SUBDOMAIN:-docs}.${SERVICES_BASE_DOMAIN}`)"
      - "traefik.http.routers.paperless.tls=true"
      - "traefik.http.services.paperless.loadbalancer.server.port=8000"
    networks:
      - proxy
      - paperless

  paperless-gotenberg:
    image: docker.io/gotenberg/gotenberg:8.25.1@sha256:f9104080d9a7ecab253fb5ebe75100329cf5699c33ec0448f2ea02d885dfde4b
    restart: unless-stopped

    environment:
      PUID: 1000
      PGID: 1000
    # The gotenberg chromium route is used to convert .eml files. We do not
    # want to allow external content like tracking pixels or even javascript.
    command:
      - "gotenberg"
      - "--chromium-disable-javascript=true"
      - "--chromium-allow-list=file:///tmp/.*"
    networks:
      - paperless

  paperless-tika:
    image: apache/tika:3.2.3.0@sha256:c0154cb95587cde64be74f35ada1a2bd7892219f3f0ac3c9dc6cab34046b3573
    restart: unless-stopped
    environment:
      PUID: 1000
      PGID: 1000
    networks:
      - paperless
