networks:
  proxy:
    external: true

services:
  n8n-init:
    image: busybox:1.37.0@sha256:b3255e7dfbcd10cb367af0d409747d511aeb66dfac98cf30e97e87e4207dd76f
    command: ['sh', '-c', 'chown -R 1000:1000 /home/node/.n8n && chown -R 1000:1000 /files']
    volumes:
      - ./data/config:/home/node/.n8n
      - ./data/files:/files

  n8n:
    image: docker.n8n.io/n8nio/n8n:latest
    networks:
      - proxy
    user: 1000:1000
    environment:
      PUID: 1000
      PGID: 1000
      N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: true
      N8N_SMTP_HOST: mail.smtp2go.com
      N8N_SMTP_PORT: 465
      N8N_SMTP_USER: ${N8N_SMTP_USER}
      N8N_SMTP_PASS: ${N8N_SMTP_PASS}
      N8N_SMTP_SENDER: automation@${SERVICES_BASE_DOMAIN}
      N8N_PROXY_HOPS: 1
      N8N_DIAGNOSTICS_ENABLED: false
      N8N_VERSION_NOTIFICATIONS_ENABLED: false
      N8N_TEMPLATES_ENABLED: false
      EXTERNAL_FRONTEND_HOOKS_URLS:
      N8N_DIAGNOSTICS_CONFIG_FRONTEND:
      N8N_DIAGNOSTICS_CONFIG_BACKEND:
      WEBHOOK_URL: https://${SERVICE_SUBDOMAIN:-automation}.${SERVICES_BASE_DOMAIN}
    volumes:
      - ./data/config:/home/node/.n8n
      - ./data/files:/files
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.n8n.middlewares=crowdsec-traefik-bouncer,auth,n8n"
      - "traefik.http.routers.n8n.rule=Host(`${SERVICE_SUBDOMAIN:-automation}.${SERVICES_BASE_DOMAIN}`)"
      - "traefik.http.routers.n8n.tls=true"
      - "traefik.http.services.n8n.loadbalancer.server.port=5678"
      - traefik.http.middlewares.n8n.headers.SSLRedirect=true
      - traefik.http.middlewares.n8n.headers.STSSeconds=315360000
      - traefik.http.middlewares.n8n.headers.browserXSSFilter=true
      - traefik.http.middlewares.n8n.headers.contentTypeNosniff=true
      - traefik.http.middlewares.n8n.headers.forceSTSHeader=true
      - traefik.http.middlewares.n8n.headers.SSLHost=${SERVICES_BASE_DOMAIN}
      - traefik.http.middlewares.n8n.headers.STSIncludeSubdomains=true
      - traefik.http.middlewares.n8n.headers.STSPreload=true
    restart: unless-stopped
    depends_on:
      n8n-init:
        condition: service_completed_successfully
