networks:
  proxy:
    external: true

services:
  deemix:
    image: registry.gitlab.com/bockiii/deemix-docker
    networks:
      - proxy
    volumes:
      - ./data/downloads:/downloads
      - ./data/config:/config
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK_SET=022
      - DEEMIX_SINGLE_USER=true
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.deemix.middlewares=crowdsec-traefik-bouncer,auth"
      - "traefik.http.routers.deemix.rule=Host(`${SERVICE_SUBDOMAIN:-deemix}.${SERVICES_BASE_DOMAIN}`)"
      - "traefik.http.routers.deemix.tls=true"
      - "traefik.http.services.deemix.loadbalancer.server.port=6595"
    restart: unless-stopped
