networks:
  proxy:
    external: true

services:
  mc:
    image: itzg/minecraft-server
    environment:
      EULA: "true"
    ports:
      - 25565:25565
    networks:
      - proxy
    volumes:
      - ./data:/data
    stdin_open: true
    tty: true
    restart: unless-stopped
