networks:
  proxy:
    external: true

services:
  bazarr:
    image: linuxserver/bazarr:latest
    restart: unless-stopped
    environment:
      - TZ=America/New_York # Specify a timezone to use
      - UMASK_SET=022 # permissions created
      - PUID=1000 # User ID to run as
      - PGID=1000 # Group ID to run as
    volumes:
      - /mnt/nas/content:/data # Location of all your media
      - ./data/config:/config # Contains all relevant configuration files.
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.bazarr.middlewares=crowdsec-traefik-bouncer,auth"
      - "traefik.http.routers.bazarr.rule=Host(`${SERVICE_SUBDOMAIN:-subtitles}.${SERVICES_BASE_DOMAIN}`)"
      - "traefik.http.routers.bazarr.tls=true"
      - "traefik.http.services.bazarr.loadbalancer.server.port=6767"
