networks:
  proxy:
    external: true

services:
  apprise:
    image: caronc/apprise:1.3.0@sha256:e365025a7bf1fed39ef66b5f22c9855d500ee7bdea27441365e5b95ea972e843
    networks:
      - proxy
    environment:
      - TZ=America/New_York
      - APPRISE_WORKER_COUNT=1
    volumes:
      - ./data/config:/config
      - ./data/plugin:/plugin
      - ./data/attach:/attach
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.apprise.middlewares=crowdsec-traefik-bouncer,auth"
      - "traefik.http.routers.apprise.rule=Host(`${SERVICE_SUBDOMAIN:-apprise}.${SERVICES_BASE_DOMAIN}`)"
      - "traefik.http.routers.apprise.tls=true"
      - "traefik.http.services.apprise.loadbalancer.server.port=8000"

  mailrise:
    image: ghcr.io/yoryan/mailrise:1.4.0@sha256:68e36cb35455564179f1a95f541339d4a01c4e662e0d498da6b14a2b911ae279
    restart: unless-stopped
    networks:
      - proxy
    volumes:
      - ./data/mailrise.conf:/etc/mailrise.conf
    labels:
      traefik.enable: true
      traefik.tcp.routers.mailrise.rule: "HostSNI(`*`)"
      traefik.tcp.routers.mailrise.tls: "true"
      traefik.tcp.routers.mailrise.tls.domains[0].main: ${SERVICE2_SUBDOMAIN:-notifications.mail}.${SERVICES_BASE_DOMAIN}
      traefik.tcp.routers.mailrise.tls.domains[0].sans: ""
      traefik.tcp.routers.mailrise.entrypoints: "mail"
