networks:
  proxy:
    external: true

services:
  apprise:
    image: caronc/apprise:1.2.2@sha256:0d74af8c1df9cf1de91f20f46d00ddee3a3efa15be179f9dbbe8a0f99d64268f
    networks:
      - proxy
    environment:
      - TZ=America/New_York
      - APPRISE_WORKER_COUNT=1
    volumes:
      - ./data/config:/config
      - ./data/plugin:/plugin
      - ./data/attach:/attach
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.apprise.middlewares=crowdsec-traefik-bouncer,auth"
      - "traefik.http.routers.apprise.rule=Host(`apprise.${SERVICES_BASE_DOMAIN}`)"
      - "traefik.http.routers.apprise.tls=true"
      - "traefik.http.services.apprise.loadbalancer.server.port=8000"

  mailrise:
    image: ghcr.io/yoryan/mailrise:1.4.0@sha256:68e36cb35455564179f1a95f541339d4a01c4e662e0d498da6b14a2b911ae279
    restart: unless-stopped
    networks:
      - proxy
    volumes:
      - ./data/mailrise.conf:/etc/mailrise.conf
    labels:
      traefik.enable: true
      traefik.tcp.routers.mailrise.rule: "HostSNI(`*`)"
      traefik.tcp.routers.mailrise.tls: "true"
      traefik.tcp.routers.mailrise.tls.domains[0].main: notifications.mail.${SERVICES_BASE_DOMAIN}
      traefik.tcp.routers.mailrise.tls.domains[0].sans: ""
      traefik.tcp.routers.mailrise.entrypoints: "mail"
