networks:
  proxy:
    external: true

services:
  araa:
    image: docker.io/temthelem/araa-search:latest
    networks:
      - proxy
    env_file: .env
    environment:
      PUID: 1000
      PGID: 1000
      DOMAIN: ${DOMAIN}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.araa.middlewares=crowdsec-traefik-bouncer,auth"
      - "traefik.http.routers.araa.rule=Host(`${SERVICE_SUBDOMAIN:-search}.${SERVICES_BASE_DOMAIN}`)"
      - "traefik.http.routers.araa.tls=true"
      - "traefik.http.services.araa.loadbalancer.server.port=${PORT}"
    restart: unless-stopped
