networks:
  proxy:
    external: true
  crowdsec:
    name: crowdsec

services:
  crowdsec:
    image: crowdsecurity/crowdsec:v1.7.3@sha256:4beb1633cf4f41bb6f9e64d065d151d3aa5e3aa7082d5c3061a243037db0d890
    environment:
      PUID: 1000
      PGID: 1000
      GID: "${GID-1000}"
      COLLECTIONS: "crowdsecurity/linux crowdsecurity/traefik firix/authentik"
    volumes:
      - ../traefik/data/logs:/var/log/traefik/:ro
      - ./data/config:/etc/crowdsec/
      - ./data/db:/var/lib/crowdsec/data/
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - crowdsec
    restart: unless-stopped

  crowdsec-traefik-bouncer:
    image: fbonalair/traefik-crowdsec-bouncer:0.5.0@sha256:e3e8f33923d2871069de08dd2931a9eb6c6760f76d6b9e3229d3b9c84211dd94
    environment:
      PUID: 1000
      PGID: 1000
      CROWDSEC_BOUNCER_API_KEY: ${CROWDSEC_BOUNCER_API_KEY}
      CROWDSEC_AGENT_HOST: crowdsec:8080
      GIN_MODE: release
    networks:
      - proxy
      - crowdsec
    depends_on:
      - crowdsec
    restart: unless-stopped

  crowdsec-dashboard:
    image: git.${SERVICES_BASE_DOMAIN}/${GITEA_USER}/crowdsec-dashboard:latest
    restart: unless-stopped
    environment:
      PUID: 1000
      PGID: 1000
      MB_DB_FILE: /data/metabase.db
      MGID: "${GID-1000}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.crowdsec.middlewares=crowdsec-traefik-bouncer,auth"
      - "traefik.http.routers.crowdsec.rule=Host(`security.${SERVICES_BASE_DOMAIN}`)"
      - "traefik.http.routers.crowdsec.tls=true"
      - "traefik.http.services.crowdsec.loadbalancer.server.port=3000"
    depends_on:
      - 'crowdsec'
    volumes:
      - ./data/db:/metabase-data/
    networks:
      proxy:
      crowdsec:
