services:
  whisper:
    restart: unless-stopped
    image: ${GIT_SUBDOMAIN:-git}.${SERVICES_BASE_DOMAIN}/${GITEA_USER}/whisper:latest
    runtime: nvidia
    environment:
      - ASR_MODEL=base
    ports:
      - "9000:9000"
    volumes:
      - ./source/app:/app/app:ro
      - ./data/cache:/root/.cache
