services:
  whisper:
    restart: unless-stopped
    image: ${GIT_SUBDOMAIN:-git}.${SERVICES_BASE_DOMAIN}/${GITEA_USER}/whisper:latest
    runtime: nvidia
    environment:
      - ASR_ENGINE=whisperx
      - ASR_MODEL=distil-medium.en
      - HF_TOKEN=${HF_TOKEN}
    ports:
      - "9000:9000"
    volumes:
      - ./data/cache:/root/.cache
