[submodule "docker/compose/hugo/src"]
	path = docker/compose/hugo/src
	url = https://github.com/nickconway/blog
	branch = main
[submodule "docker/compose/mailcow/source"]
	path = docker/compose/mailcow/source
	url = https://github.com/mailcow/mailcow-dockerized
	branch = master
[submodule "docker/compose/reactive-resume/source"]
	path = docker/compose/reactive-resume/source
	url = https://github.com/nickconway/Reactive-Resume
	branch = dev
[submodule "docker/dockerfiles/photon/source"]
	path = docker/dockerfiles/photon/source
	url = https://github.com/rtuszik/photon-docker
	branch = main
[submodule "dotfiles"]
	path = submodules/dotfiles
	url = https://github.com/nickconway/dotfiles
	branch = main
[submodule "docker/dockerfiles/whisper/source"]
	path = docker/dockerfiles/whisper/source
	url = https://github.com/ahmetoner/whisper-asr-webservice
	branch = main
[submodule "docker/dockerfiles/reactive-resume/source"]
	path = docker/dockerfiles/reactive-resume/source
	url = https://github.com/nickconway/Reactive-Resume
	branch = dev
[submodule "ansible"]
	path = submodules/ansible
	url = https://github.com/nickconway/ansible
	branch = main
[submodule "docker/compose/soularr/dashboard"]
	path = docker/compose/soularr/dashboard
	url = https://github.com/EricH9958/Soularr-Dashboard
	branch = main
[submodule "docker/dockerfiles/bifrost/source"]
	path = docker/dockerfiles/bifrost/source
	url = https://github.com/chrivers/bifrost
	branch = master
