export SERVICES_BASE_DOMAIN=example.com
export GPG_EMAIL=name@example.com
export GITEA_USER=username
export SMTP_USER=username

export DOCKER_STACK_DIR=$HOME/Docker
export K8S_MANIFEST_DIR=$HOME/Kubernetes

export TALOS_CONTEXT_NAME=proxmox
export TALOS_API_SERVER=k8s.$SERVICES_BASE_DOMAIN
export TALOS_ENDPOINT=talos.$SERVICES_BASE_DOMAIN
