SERVICES_BASE_DOMAIN=example.com
GPG_EMAIL=name@example.com
GITEA_USER=username
SMTP_USER=username

DOCKER_STACK_DIR=$HOME/Docker
K8S_MANIFEST_DIR=$HOME/Kubernetes

TALOS_CONTEXT_NAME=proxmox
TALOS_API_SERVER=k8s.$SERVICES_BASE_DOMAIN
TALOS_ENDPOINT=talos.$SERVICES_BASE_DOMAIN
