networks:
  proxy:
    external: true

services:
  syncthing:
    image: syncthing/syncthing
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - ./data:/var/syncthing
      - ${SYNC_DIR}:/var/syncthing/sync
    networks:
      - proxy
    restart: unless-stopped
    ports:
      - 22000:22000/tcp
      - 22000:22000/udp
      - 21027:21027/udp
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.syncthing.middlewares=crowdsec-traefik-bouncer,auth"
      - "traefik.http.routers.syncthing.rule=Host(`${SERVICE_SUBDOMAIN:-sync}.${SERVICES_BASE_DOMAIN}`)"
      - "traefik.http.routers.syncthing.tls=true"
      - "traefik.http.services.syncthing.loadbalancer.server.port=8384"
