networks:
  proxy:
    external: true

services:
  maloja:
    image: krateng/maloja:latest
    networks:
      - proxy
    environment:
      - PUID=1000
      - PGID=1000
      - MALOJA_DATA_DIRECTORY=/mljdata
      - MALOJA_SKIP_SETUP=true
      - MALOJA_FORCE_PASSWORD=$MALOJA_FORCE_PASSWORD
    volumes:
      - ./data/data:/mljdata
      - ./data/backups:/usr/src/app
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.maloja.middlewares=crowdsec-traefik-bouncer"
      - "traefik.http.routers.maloja.rule=Host(`${SERVICE_SUBDOMAIN:-scrobble}.${SERVICES_BASE_DOMAIN}`)"
      - "traefik.http.routers.maloja.tls=true"
      - "traefik.http.services.maloja.loadbalancer.server.port=42010"
    restart: unless-stopped
