networks:
  proxy:
    external: true
  tranga:
    name: tranga

services:
    tranga-api:
      image: glax/tranga-api:latest
      volumes:
        - /mnt/nas/content/media/manga:/Manga
        - ./data:/usr/share/tranga-api
      restart: unless-stopped
      environment:
        - PUID=1000
        - PGID=1000
      networks:
        - proxy
        - tranga
      labels:
        - "traefik.enable=true"
        - "traefik.http.middlewares.tranga-api.stripprefix.prefixes=/api/"
        - "traefik.http.routers.tranga-api.middlewares=crowdsec-traefik-bouncer,auth,tranga-api"
        - "traefik.http.routers.tranga-api.rule=Host(`${SERVICE_SUBDOMAIN:-tranga}.${SERVICES_BASE_DOMAIN}`) && PathPrefix(`/api/`)"
        - "traefik.http.routers.tranga-api.tls=true"
        - "traefik.http.services.tranga-api.loadbalancer.server.port=6531"
    tranga:
      image: glax/tranga-website:latest
      depends_on:
        - tranga-api
      restart: unless-stopped
      networks:
        - proxy
        - tranga
      environment:
        - PUID=1000
        - PGID=1000
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.tranga.middlewares=crowdsec-traefik-bouncer,auth"
        - "traefik.http.routers.tranga.rule=Host(`${SERVICE_SUBDOMAIN:-tranga}.${SERVICES_BASE_DOMAIN}`)"
        - "traefik.http.routers.tranga.tls=true"
        - "traefik.http.services.tranga.loadbalancer.server.port=80"
