networks:
  proxy:
    external: true

services:
  cloudflared:
    image: cloudflare/cloudflared:2026.2.0@sha256:404528c1cd63c3eb882c257ae524919e4376115e6fe57befca8d603656a91a4c
    networks:
      - proxy
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TUNNEL_TOKEN=${TUNNEL_TOKEN}
    command: tunnel --no-autoupdate run
