networks:
  komodo:
    name: komodo
  komodo-database:
    name: komodo-database
  proxy:
    external: true

services:
  postgres:
    image: ghcr.io/ferretdb/postgres-documentdb:17-0.107.0-ferretdb-2.7.0@sha256:2386795ec2aa7ae559304361979f1dc5708d383ee9020ae63dadc2940dfe58f7
    restart: unless-stopped
    logging:
      driver: local
    networks:
      - komodo-database
    volumes:
      - ./data/db:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=postgres
    labels:
      - "komodo.skip=true"

  ferretdb:
    image: ghcr.io/ferretdb/ferretdb:2.7.0@sha256:5706414241eb84f0515512c37b46db0f1b1eac9e5ceb7e4c2523211c184b1985
    restart: unless-stopped
    depends_on:
      - postgres
    logging:
      driver: local
    volumes:
      - ./data/state:/state
    networks:
      - komodo
      - komodo-database
    environment:
      - FERRETDB_POSTGRESQL_URL=postgres://${DB_USERNAME}:${DB_PASSWORD}@postgres:5432/postgres
    labels:
      - "komodo.skip=true"

  core:
    image: ghcr.io/moghtech/komodo-core:1.19.5@sha256:a1cceb4f971443b1e9f2a767788f663d0afb6244ee2135f7fe3fd1036af37ade
    restart: unless-stopped
    depends_on:
      - ferretdb
    logging:
      driver: local
    networks:
      - proxy
      - komodo
    volumes:
      - ${HOME}/Git:/repo-cache
    env_file: .env
    environment:
      KOMODO_DATABASE_ADDRESS: ferretdb:27017
      KOMODO_DATABASE_USERNAME: ${DB_USERNAME}
      KOMODO_DATABASE_PASSWORD: ${DB_PASSWORD}
    labels:
      - "komodo.skip=true"
      - "traefik.enable=true"
      - "traefik.http.routers.komodo.middlewares=crowdsec-traefik-bouncer"
      - "traefik.http.routers.komodo.rule=Host(`${SERVICE_SUBDOMAIN:-deploy}.${SERVICES_BASE_DOMAIN}`)"
      - "traefik.http.routers.komodo.tls=true"
      - "traefik.http.services.komodo.loadbalancer.server.port=9120"

  periphery:
    image: ghcr.io/moghtech/komodo-periphery:1.19.5@sha256:bd79cf960ed054fe8e02384322303e462448679b1149dde48bbef151417255b1
    restart: unless-stopped
    logging:
      driver: local
    networks:
      - komodo
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /proc:/proc
      - ./data/repos:/etc/komodo/repos # manage repos in a docker volume, or change it to an accessible host directory.
      - ..:/etc/komodo/stacks # manage stack files in a docker volume, or change it to an accessible host directory.
      - ./data/builds:/etc/komodo/builds
      - ${DOCKER_STACK_DIR}:${DOCKER_STACK_DIR}:ro
    environment:
      PERIPHERY_INCLUDE_DISK_MOUNTS: /etc/hostname
    labels:
      - "komodo.skip=true"

  import:
    image: foxxmd/komodo-import:0.2.4@sha256:ad266e6082c99f2e48b509ddcf2bdbcd225615267e99d837dba90bb1567655ce
    restart: on-failure
    volumes:
      - ${DOCKER_STACK_DIR}:/filesOnServer:ro
    networks:
      - komodo
    depends_on:
      - core
    environment:
      - HOST_DIR=${DOCKER_STACK_DIR}
      - STACKS_FROM=dir
      - SERVER_NAME=${SERVER_NAME}
      - DOCKER_HOST=tcp://socket-proxy:2375
      - KOMODO_URL=http://core:9120
      - API_KEY=${API_KEY}
      - API_SECRET=${API_SECRET}
      - OUTPUT_API_SYNC=true
      - SYNC_NAME=import-"${SERVER_NAME}"
