networks:
  proxy:
    external: true

services:
  photon:
    image: ${GIT_SUBDOMAIN:-git}.${SERVICES_BASE_DOMAIN}/${GITEA_USER}/photon:latest
    restart: unless-stopped
    volumes:
      - ./data:/photon/photon_data
    environment:
      - UPDATE_STRATEGY=PARALLEL
      - UPDATE_INTERVAL=1d
      - LOG_LEVEL=DEBUG
      - COUNTRY_CODE=us
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.photon.middlewares=crowdsec-traefik-bouncer,auth"
      - "traefik.http.routers.photon.rule=Host(`${SERVICE_SUBDOMAIN:-geo}.${SERVICES_BASE_DOMAIN}`)"
      - "traefik.http.routers.photon.tls=true"
      - "traefik.http.services.photon.loadbalancer.server.port=2322"
