networks:
  proxy:
    external: true

services:
  photon:
    image: ${GIT_SUBDOMAIN:-git}.${SERVICES_BASE_DOMAIN}/${GITEA_USER}/photon:latest
    restart: unless-stopped
    volumes:
      - ${DATA_DIR:-./data}:/photon/data
    environment:
      - UPDATE_STRATEGY=${UPDATE_STRATEGY}
      - UPDATE_INTERVAL=30d
      - LOG_LEVEL=DEBUG
      - COUNTRY_CODE=us
      - DOWNLOAD_MAX_RETRIES=10
      - APPRISE_URLS=${APPRISE_URLS:-}
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.photon.middlewares=crowdsec-traefik-bouncer,auth"
      - "traefik.http.routers.photon.rule=Host(`${SERVICE_SUBDOMAIN:-geo}.${SERVICES_BASE_DOMAIN}`)"
      - "traefik.http.routers.photon.tls=true"
      - "traefik.http.services.photon.loadbalancer.server.port=2322"
