services:
    periphery:
        image: ghcr.io/moghtech/komodo-periphery:1.19.5@sha256:bd79cf960ed054fe8e02384322303e462448679b1149dde48bbef151417255b1
        restart: unless-stopped
        logging:
            driver: local
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - /proc:/proc
            - ./data/repos:/etc/komodo/repos # manage repos in a docker volume, or change it to an accessible host directory.
            - ..:/etc/komodo/stacks # manage stack files in a docker volume, or change it to an accessible host directory.
            - ./data/builds:/etc/komodo/builds
            - ${DOCKER_STACK_DIR}:${DOCKER_STACK_DIR}:ro
        ports:
            - 8120:8120
        environment:
            PERIPHERY_INCLUDE_DISK_MOUNTS: /etc/hostname

    import:
        image: foxxmd/komodo-import:0.2.4@sha256:ad266e6082c99f2e48b509ddcf2bdbcd225615267e99d837dba90bb1567655ce
        restart: on-failure
        healthcheck:
            disable: true
        volumes:
            - ${DOCKER_STACK_DIR}:/filesOnServer:ro
        environment:
            - HOST_DIR=${DOCKER_STACK_DIR}
            - STACKS_FROM=dir
            - SERVER_NAME=${SERVER_NAME}
            - DOCKER_HOST=tcp://socket-proxy:2375
            - KOMODO_URL=https://deploy.${SERVICES_BASE_DOMAIN}
            - API_KEY=${API_KEY}
            - API_SECRET=${API_SECRET}
            - OUTPUT_API_SYNC=true
            - SYNC_NAME=import-"${SERVER_NAME}"
