networks:
  proxy:
    external: true

services:
    komga:
      image: gotson/komga
      volumes:
        - ./data/config:/config
        - ./data/app:/data
        - /mnt/nas/content/media/manga:/library
      environment:
        - PUID=1000
        - PGID=1000
        - TZ=America/New_York
      restart: unless-stopped
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.komga.middlewares=crowdsec-traefik-bouncer,auth"
        - "traefik.http.routers.komga.rule=Host(`${SERVICE_SUBDOMAIN:-manga}.${SERVICES_BASE_DOMAIN}`)"
        - "traefik.http.routers.komga.tls=true"
        - "traefik.http.services.komga.loadbalancer.server.port=25600"
      networks:
        - proxy
