services:
  nebula-sync:
    image: ghcr.io/lovelaze/nebula-sync:latest
    environment:
      - FULL_SYNC=true
      - RUN_GRAVITY=false
      - CRON=*/5 * * * *
    env_file: .env
    restart: unless-stopped
