networks:
  proxy:
    external: true
  bookstack:
    name: bookstack

services:
  bookstack:
    image: lscr.io/linuxserver/bookstack
    environment:
      PUID: 1000
      PGID: 1000
      APP_URL: https://${SERVICE_SUBDOMAIN:-notes}.${SERVICES_BASE_DOMAIN}
      DB_HOST: bookstack-mariadb
      DB_PORT: 3306
      DB_DATABASE: bookstack
      DB_USER: bookstack
      DB_PASS: ${MARIADB_PASSWORD}
      MAIL_DRIVER: smtp
      MAIL_HOST: mail.smtp2go.com
      MAIL_PORT: 587
      MAIL_ENCRYPTION: tls
      MAIL_USERNAME: ${MAIL_USERNAME}
      MAIL_PASSWORD: ${MAIL_PASSWORD}
      MAIL_FROM: notes@${SERVICES_BASE_DOMAIN}
      MAIL_FROM_NAME: Notes
    networks:
      - proxy
      - bookstack
    volumes:
      - ./data/config:/config
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.bookstack.middlewares=crowdsec-traefik-bouncer,auth"
      - "traefik.http.routers.bookstack.rule=Host(`${SERVICE_SUBDOMAIN:-notes}.${SERVICES_BASE_DOMAIN}`)"
      - "traefik.http.routers.bookstack.tls=true"
      - "traefik.http.services.bookstack.loadbalancer.server.port=80"
    restart: unless-stopped

  bookstack-mariadb:
    image: lscr.io/linuxserver/mariadb
    restart: unless-stopped
    networks:
      - bookstack
    environment:
      PUID: 1000
      PGID: 1000
      TZ: America/New_York
      MARIADB_DATABASE: bookstack
      MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
      MARIADB_USER: bookstack
      MARIADB_PASSWORD: ${MARIADB_PASSWORD}
    volumes:
      - ./data/db:/config
