networks:
  proxy:
    external: true
  mealie:
    name: mealie

services:
  mealie:
    image: ghcr.io/mealie-recipes/mealie:latest
    depends_on:
      - mealie-postgres
    volumes:
      - ./data/app:/app/data
    environment:
      - ALLOW_SIGNUP=True
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - MAX_WORKERS=1
      - WEB_CONCURRENCY=1
      - BASE_URL=https://${SERVICE_SUBDOMAIN:-meals}.${SERVICES_BASE_DOMAIN}

      - DB_ENGINE=postgres
      - POSTGRES_USER=mealie
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_SERVER=mealie-postgres
      - POSTGRES_PORT=5432
      - POSTGRES_DB=mealie

      - SMTP_HOST=mail.smtp2go.com
      - SMTP_FROM_NAME=Mealie
      - SMTP_FROM_EMAIL=meals@${SERVICES_BASE_DOMAIN}
      - SMTP_USER=${SMTP_USER}
      - SMTP_PASSWORD=${SMTP_PASSWORD}

      - OIDC_AUTH_ENABLED=True
      - OIDC_CONFIGURATION_URL=https://${AUTH_SUBDOMAIN:-auth}.${SERVICES_BASE_DOMAIN}/application/o/mealie/.well-known/openid-configuration
      - OIDC_CLIENT_ID=${OIDC_CLIENT_ID}
      - OIDC_AUTO_REDIRECT=True
      - OIDC_PROVIDER_NAME=Authentik
    restart: unless-stopped
    networks:
      - proxy
      - mealie
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mealie.middlewares=crowdsec-traefik-bouncer,auth"
      - "traefik.http.routers.mealie.rule=Host(`${SERVICE_SUBDOMAIN:-meals}.${SERVICES_BASE_DOMAIN}`)"
      - "traefik.http.routers.mealie.tls=true"
      - "traefik.http.services.mealie.loadbalancer.server.port=9000"

  mealie-postgres:
    image: postgres:18
    restart: unless-stopped
    volumes:
      - ./data/db:/var/lib/postgresql/data
    environment:
      - PUID=1000
      - PGID=1000
      - POSTGRES_DB=mealie
      - POSTGRES_USER=mealie
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_SERVER=mealie-postgres
    networks:
      - mealie
