networks:
  proxy:
    external: true

services:
  hugo-init:
    image: busybox:1.37.0@sha256:d80cd694d3e9467884fcb94b8ca1e20437d8a501096cdf367a5a1918a34fc2fd
    command: ['sh', '-c', 'chown -R 1000:1000 /src /tmp']
    volumes:
      - ${HOME}/Git/blog:/src
      - ./data/cache:/tmp/hugo_cache
  hugo:
    image: klakegg/hugo:ext@sha256:2d1841844d7c4017d13c6949f31a8957cc17aacaf5a3d072c64866471d2b3549
    networks:
      - proxy
    user: 1000:1000
    environment:
      PUID: 1000
      PGID: 1000
      HUGO_ENV: production
    depends_on:
      - hugo-staging
    volumes:
      - ./src/:/src
      - /src/public
      - ./data/cache:/tmp/hugo_cache
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.hugo.middlewares=crowdsec-traefik-bouncer"
      - "traefik.http.routers.hugo.rule=Host(`${SERVICE_SUBDOMAIN:-blog}.${SERVICES_BASE_DOMAIN}`)"
      - "traefik.http.routers.hugo.tls=true"
      - "traefik.http.services.hugo.loadbalancer.server.port=1313"
    restart: unless-stopped
    command: server --disableLiveReload

  hugo-staging:
    image: klakegg/hugo:ext@sha256:2d1841844d7c4017d13c6949f31a8957cc17aacaf5a3d072c64866471d2b3549
    networks:
      - proxy
    user: 1000:1000
    environment:
      PUID: 1000
      PGID: 1000
    volumes:
      - ./src/:/src
      - /src/public
      - ./data/cache:/tmp/hugo_cache
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.hugo-staging.middlewares=crowdsec-traefik-bouncer"
      - "traefik.http.routers.hugo-staging.rule=Host(`${SERVICE2_SUBDOMAIN:-staging.blog}.${SERVICES_BASE_DOMAIN}`)"
      - "traefik.http.routers.hugo-staging.tls=true"
      - "traefik.http.routers.hugo-staging.tls.certresolver=letsencrypt"
      - "traefik.http.services.hugo-staging.loadbalancer.server.port=1313"
    restart: unless-stopped
    command: server -D -E -F --navigateToChanged
