networks:
  proxy:
    external: true

services:
  navidrome:
    image: deluan/navidrome:0.59.0@sha256:4edc8a1de3e042f30b78a478325839f4395177eb8201c27543dccc0eba674f23
    user: 1000:1000 # should be owner of volumes
    restart: unless-stopped
    networks:
      - proxy
    environment:
      ND_SCANSCHEDULE: 1h
      ND_LOGLEVEL: info
      ND_SESSIONTIMEOUT: 24h
      ND_BASEURL: "https://${SERVICE_SUBDOMAIN:-music}.${SERVICES_BASE_DOMAIN}"
      ND_SPOTIFY_ID: ${ND_SPOTIFY_ID}
      ND_SPOTIFY_SECRET: ${ND_SPOTIFY_SECRET}
      ND_LASTFM_APIKEY: ${ND_LASTFM_APIKEY}
      ND_LASTFM_SECRET: ${ND_LASTFM_SECRET}
      ND_LISTENBRAINZ_BASEURL: http://maloja:42010/apis/listenbrainz/1/
      ND_ENABLEINSIGHTSCOLLECTOR: true
    volumes:
      - ./data:/data
      - /mnt/nas/content/media/music:/music:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.navidrome.middlewares=crowdsec-traefik-bouncer"
      - "traefik.http.routers.navidrome.rule=Host(`${SERVICE_SUBDOMAIN:-music}.${SERVICES_BASE_DOMAIN}`)"
      - "traefik.http.routers.navidrome.tls=true"
      - "traefik.http.services.navidrome.loadbalancer.server.port=4533"
