ASR_BASE_URL=http://10.0.0.2:9000
ASR_TIMEOUT=1800
ASR_DIARIZE=true
ASR_MIN_SPEAKERS=1
ASR_MAX_SPEAKERS=10
ASR_RETURN_SPEAKER_EMBEDDINGS=true

TIMEZONE="America/New_York"

ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=<REPLACE-ME>
