networks:
  proxy:
    external: true
  immich:
    name: immich

services:
  immich:
    image: ghcr.io/immich-app/immich-server:${IMMICH_VERSION:-release}
    volumes:
      - ./data/uploads:/usr/src/app/upload
      - /etc/localtime:/etc/localtime:ro
      - ${EXTERNAL_PATH_PICTURES}:/usr/src/app/external/Pictures:ro
      - ${EXTERNAL_PATH_VIDEOS}:/usr/src/app/external/Videos:ro
    env_file:
      - .env
    extends:
      file: hwaccel.transcoding.yml
      service: quicksync # set to one of [nvenc, quicksync, rkmpp, vaapi, vaapi-wsl] for accelerated transcoding
    deploy:
      resources:
        limits:
          cpus: '4.0'
          memory: 8G
    depends_on:
      - immich-redis
      - immich-postgres
    restart: unless-stopped
    networks:
      - proxy
      - immich
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.immich.middlewares=crowdsec-traefik-bouncer"
      - "traefik.http.routers.immich.rule=Host(`photos.${SERVICES_BASE_DOMAIN}`)"
      - "traefik.http.routers.immich.tls=true"
      - "traefik.http.services.immich.loadbalancer.server.port=2283"

  immich-machine-learning:
    # For hardware acceleration, add one of -[armnn, cuda, openvino] to the image tag.
    # Example tag: ${IMMICH_VERSION:-release}-cuda
    image: ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION:-release}
    user: 0:106
    extends: # uncomment this section for hardware acceleration - see https://immich.app/docs/features/ml-hardware-acceleration
      file: hwaccel.ml.yml
      service: cpu # set to one of [armnn, cuda, openvino, openvino-wsl] for accelerated inference - use the `-wsl` version for WSL2 where applicable
    env_file:
      - .env
    volumes:
      - ./data/model-cache:/cache
    networks:
      - immich
    restart: unless-stopped

  immich-redis:
    image: docker.io/valkey/valkey:9@sha256:4503e204c900a00ad393bec83c8c7c4c76b0529cd629e23b34b52011aefd1d27
    restart: unless-stopped
    networks:
      - immich

  immich-postgres:
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
    networks:
      - immich
    env_file:
      - .env
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_DB: ${DB_DATABASE_NAME}
      POSTGRES_INITDB_ARGS: '--data-checksums'
    volumes:
      - ${DB_DATA_LOCATION}:/var/lib/postgresql/data
    restart: unless-stopped

  immich-power-tools:
    image: ghcr.io/varun-raj/immich-power-tools:latest
    restart: unless-stopped
    env_file:
      - .env
    environment:
      HOSTNAME: '0.0.0.0'
    ports:
      - 3082:3000
    networks:
      - immich
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.immich-power-tools.middlewares=crowdsec-traefik-bouncer,auth"
      - "traefik.http.routers.immich-power-tools.rule=Host(`tools.photos.${SERVICES_BASE_DOMAIN}`)"
      - "traefik.http.routers.immich-power-tools.tls=true"
      - "traefik.http.routers.immich-power-tools.tls.certresolver=letsencrypt"
      - "traefik.http.services.immich-power-tools.loadbalancer.server.port=3000"
